body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
}

.directory {
    display: flex;
    justify-content: center;
    a {
        color: #a00;
        margin: 0px 10px;
    }
}

.back {
    color: #a00;
    margin: 10px;
    font-size: larger;
    font-weight: 600;
}

.diagram-container {
    display: flex;
}

.diagram-img {
    width: 60%;
}

form {
    display: flex;
    flex-direction: column;
    width: 40%;

    .ans-input {
        margin: 4px auto;
        width: 30%;
    }
}

@media (max-width: 650px) {
    .directory a {
        margin: 0px 5px;
    }

    .diagram-container {
        flex-direction: column;
    }

    .diagram-img {
        width: 100%;
    }

    form {
        width: 100%;

        label {
            margin: 0 5px;
            width: 50%;
        }

        .ans-input {
            width: 100%;
        }
    }
}
